@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body{
  background-color: #ffff;
  overflow-x: hidden;
}
@theme {
  --color-primary: #C90456;
  --animate-enter: enter 1.5s ease-in-out;
  @keyframes enter {
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }  
  }
}

.image_principal{
  background-image: url('../../public/assets/imagemprincipal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu_bar{
  padding-right: 0 !important;
}